<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1><%= title %></h1>
		<form action='/' method='post'>
			<label for='city'>Enter a city name</label>
			<input id='city' name='city' type='text' placeholder='New York' required>
			<input type='submit'>
		</form>
		<% if (weather) { %>
			<% include weather.ejs %>
		<% } %>
	</body>
</html>
