body {
  font: 35px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #66d1ff;
  text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

form label {
	white-space: nowrap;
}

form input {
	margin: 0 auto;
	margin-top: 10px;
	width: 150px;
	text-align: center;
}

ul {
	list-style-type: none; 
}
